
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://use.fontawesome.com/releases/v5.0.7/css/all.css");

:root {
  /* --green: rgba(0, 120, 70); */
  --green: #007846;
  --green2: #61B140;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: rgba(0, 0, 0, 0.8);
}
html {
  height: 100%;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 2600px;
  position: relative;
  height: auto;
  background-color: rgba(102, 255, 0, 0.15);
  font-size: 100%;
}

a {
  text-decoration: none;
}

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  margin: 0 auto 0;
  padding: 1rem 3rem;
  align-items: center;
  background-color: white;
}
.navbar .logo {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.logo-text {
  margin-right: 3px;
}
.logo-icon {
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--green);
}
.navbar .menu-select {
  display: none;
}
.navbar .links {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.navbar .links a {
  padding: 0.5rem 1rem;
  margin-left: 0.75rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition-duration: 300ms;
}
.navbar .links a:hover {
  background-color: var(--green);
  color: white;
  font-weight: 500;
}
.navar .menu-select {
  display: none;
}


.contacts {
  margin-top: 50px;
  width: 225px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  text-align: center;
}
.contact-links {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social .fab {
  font-size: 2rem;
  transition-duration: 200ms;
}
.social .fab:hover {
  color: black;
}
.social .fa-facebook{
  color: blue;
}
.social .fa-twitter{
  color: #27a8ee;
}
.social .fa-instagram{
  color: #d120ae;
}



/* media queries */
@media screen and (max-width: 700px) {

  .navbar {
    padding: 0.4rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navbar .links {
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    right: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    transition-duration: 250ms;
    overflow: scroll;
  }
  .navbar .links li {
    margin: 2rem 1.25rem;
    height: 40px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .links a {
    margin: 0;
    font-size: 1.2rem;
  }
  .navbar .logo {
    width: 150px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .menu-select {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  .menu-select .fas {
    font-size: 1.4rem;
    color: black;
  }

  .container {
    margin: 7rem auto;
  }
  /* .info {
    width: 200px;
  } */
  .info h2 {
    width: inherit;
    font-size: 2.2rem;
  }
  .info p {
    width: 95%;
    font-size: 1.1rem;
  }
  .info a {
    padding: 0.8rem 1.6rem;
    font-size: 1.1rem;
  }
  .search {
    width: 90%;
    max-width: 300px;
  }
  .search input[type=text] {
    padding: 0.6rem 0.4rem 0.4rem 2.2rem;
  }

  .card {
    width: 90%;
    max-width: 325px;
  }

  .contacts {
    padding: 0rem 0rem;
  }

}

