
.home-active {
  background-color: black;
  color: white;
}

.container {
  padding: 1.5rem 0rem 1rem 0em;
  margin: 10rem auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info {
  align-items: center;
  text-align: center;
}


@media screen and (max-width: 1150px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    margin-bottom: 0;
  }

  .info {
    margin: 4rem auto 8rem;
    align-items: center;
    text-align: center;
  }

  .search {
    margin-left: auto;
    margin-right: auto;
  }

  .info p{
    width: 40ch;
  }
 
}

@media screen and (max-width: 500px) {

  .container {
    margin-bottom: 3rem;
  }

  .info p{
    width: 30ch;
  }

}