
.home-active {
  background-color: black;
  color: white;
}


@media screen and (max-width: 1150px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    margin-bottom: 0;
  }

  .info {
    margin: 4rem auto 8rem;
    align-items: center;
    text-align: center;
  }

  .search {
    margin-left: auto;
    margin-right: auto;
  }

}
