
{% extends 'base.html' %}



{% block head %}

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/signup.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/login.css') }}"
  />
  <title>Mantisa | Sign Up</title>

{% endblock %}


{% block links %}
  <li><a href="/" class="home">Home</a></li>
  <li><a href="/login" class="profile">Profile</a></li>
  <li><a href="/login" class="lists">Lists</a></li>
  <li><a href="/login" class="login">Log In</a></li>
  <li><a href="/signup" class="signup-active">Sign Up</a></li>
{% endblock %}


{% block body %}

  <div class="card-wrapper">  
    <div class="card">
      
      <h3 class="title-info">
        Create a new account
      </h3>
      
      <form action="" method="post" class="login">
        <div class="bar">
          <input required type="name" name="name" id="name" class="input" placeholder="Name">
        </div>
        <div class="bar">
          <input required type="email" name="email" id="email" class="input" placeholder="Email">
        </div>
        <div class="bar">
          <input required type="password" name="password" id="password" class="input" placeholder="Password">
        </div>
        <button type="submit" class="button">Sign Up</button>
      </form>
      
    </div>
  </div>

{% endblock %}