
{% extends 'base.html' %}


{% block head %}

  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/wish.css') }}"
  />
  <title>Mantisa | Wish List</title>

{% endblock %}


{% block links %}
  <li><a href="/" class="home-active">Home</a></li>
  <li><a href="/profile" class="profile-active">Profile</a></li>
  <li><a href="/lists" class="lists-active">Lists</a></li>
  <li><a href="/logout">Log Out</a></li>
{% endblock %}


{% block body %}
  
<div class="-info">
  <h1>Wish List</h1>
  <br>

  <div class="results-info">

    {% for p in products %}    
      <a href={{p[3]}} class="item-wrapper">
        <div class="item">
          <div class="marketplace-wrapper">
            <img class="marketplace-logo" src={{p[4]}} alt="Jumia Logo">
          </div>
          <i class="fas fa-minus-circle"></i>
          <img class="product-image" src={{p[2]}} alt="product image">
          <span class="name">
            {{ p[0] }}
          </span>
          <span class="price">
            ₦ {{ p[1] }}
          </span>
          
        </div>
      </a>
    {% endfor %}

  
  </div>
  
</div>

{% endblock %}
    
